@charset "utf-8";
.container header {
	background-color: #6A5ACD;
}
.container header nav {
	background-color: #573DF5;
}
.container #contact {
    background-image: url(images/Bread3.jpg);
}
.container #hero {
    background-image: url(images/Bread2.jpg);
}


.container #about {
	background-image: -webkit-linear-gradient(270deg,rgba(89,24,148,0.85) 0%,rgba(202,108,188,1.00) 25.91%,rgba(202,109,241,1.00) 42.90%,rgba(255,226,226,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(89,24,148,0.85) 0%,rgba(202,108,188,1.00) 25.91%,rgba(202,109,241,1.00) 42.90%,rgba(255,226,226,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(89,24,148,0.85) 0%,rgba(202,108,188,1.00) 25.91%,rgba(202,109,241,1.00) 42.90%,rgba(255,226,226,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(89,24,148,0.85) 0%,rgba(202,108,188,1.00) 25.91%,rgba(202,109,241,1.00) 42.90%,rgba(255,226,226,1.00) 100%);
	text-align: center;
}
.container #banner {
    background-image: url(images/Bread.jpg);
}
.container #copyright {
    background-color:#6a5acd;
}
